@use './variables' as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-padding-top: 0rem
}

*, 
*:before,
*:after {
	box-sizing: inherit
}

body {
	background-color: v.$black;
	font-family: v.$primary-font;
	font-size: 1rem;
	color: v.$white;
}

.App {
	/*
	width: 95%;
	max-width: 120rem;
	*/
	width: 100vw;
	height: 100vh;
	position: relative;
	margin: 0;
}

p {
	font-size: 2rem;
}

a {
	text-decoration: none
}

h1, h2, h3, h4 {
	margin: 0
}

h1 {
	font-size: 4rem
}

h2 {
	font-size: 3.5rem
}

h3 {
	font-size: 3rem
}

h4 {
	font-size: 2.5rem
}

img {
	width: 300px;
	height: 300px
}
