// FONTS
$primary-font: 'Niconne', cursive;
$secondary-font: 'NTR', sans-serif;

// COLORS
$white: #FFFFFF;
$black: #000000;

// MEDIA SIZE
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;